.vscode/**
.vscode-test/**
out/**
node_modules/**
!node_modules/@xenova/**
!node_modules/onnxruntime-node/**
!node_modules/onnxruntime-web/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
